body{
    background-color:#E2E0AF;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

header{
    background-color: #E0BE65;
    width: 107vh;
    height: 15vh;
    flex-shrink: 0;
    margin-right: 30px;
    margin-left:-10px;
    margin-top: 3px;
}
#logoBrand{
    width: 22.5vh;   
}
h1{
    color: #000;
    text-align:right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    font-style:italic;
    font-weight: 600;
    line-height: normal; 
    word-spacing: 10px;
    margin-top: -55px;
    margin-right: 20px;
}

#perchero{
    display: block;
    width: 90%;
    height:570px;
    flex-shrink: 0; 
    margin-bottom: 3px;
    margin-top: 3px;  
}
.inputBox{
    border:3px solid #8d7547;
    width: 400px;
    height: 35px;
    flex-shrink: 0;
    background: #E0BE65;
    margin-left: 15%;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
.inputBox input{
    background: transparent;
    border: none;
    outline: none;
}
.formInput{
    width: 400px;
    height: 35px;
    font-size: medium;   
}

.name {
    font-size: 20px;
    font-weight: 540;
    margin-left: 15%;
    margin-bottom: -20px;

}
.email{
    font-size: 20px;
    font-weight: 540;
    margin-left: 15%;
    margin-bottom: -20px;   

}
.password{
    font-size: 20px;
    font-weight: 540;
    line-height: normal;
    margin-left: 15%;
    margin-bottom: -20px;
}

label {    
    padding-left: 15%;
    word-spacing: 3px;
    font-style: italic;     
}
.buttonJoinUs{
    width: 160px;
    height: 60px;
    flex-shrink: 0;
    background:#000;
    margin-left: 35%;
    color: #FFF;
    text-align: center;
    font-family:Cambria, Coch,Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: 300;
    margin-top: 3%; 
    cursor: pointer;
}

.buttonJoinUs:hover{
    color:#8d7547;
    border: #E2E0AF;
}
    

.buttonLogin:hover{
    color:#8d7547;
    border: #E2E0AF;
}
.loginQuestion{
    width: 300px;
    height: 41px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: 300;
    margin-top: 40px;
    margin-left: 50%;
    word-spacing: 3px;

}
.buttonLogin{
    width: 100px;
    height: 45px;
    background: #000;
    outline: none;
    border: none;
    margin-left: 80%;
    color: #FFF;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-top: -72px;
    cursor: pointer;
}
.login{
    display: flex;
    flex-direction: column;
    margin-top:-30px;
}
/*----Validation---*/
.errorMsg{
    color: brown;
    font-size:medium;
    letter-spacing: 1px;
    margin: -2px;
}

.formDone{
    font-style: oblique;
    margin-top: 2px;
    margin-left: 34%;
}



@media screen and (max-width:550px ){

    #perchero{
        display: none;
    }

    header{
        width: 80vh;
        height: 12vh;
        flex-shrink: 0;
        margin: centre;
        margin-left: 15px;
    }

    h1{
        font-size: 22px;
        font-weight: 600;
        line-height: normal; 
        word-spacing: 10px;
        margin-left: 40%;
        margin-right: 20px;
        margin-top: -63px;
    }

    #logoBrand{
        width: 18vh; 
    }
    .inputBox{
        width: 300px;
        height: 35px;
        flex-shrink: 0;
        background: #E0BE65;
        margin-left: 15%;
        margin-top: 20px;
    } 
    .inputBox input{
        width: 450px;
        height: 40px;
        background: transparent;
        border: none;
        outline: none;
    }
    .name{
        font-size: 16px;
    }
    .email{
        font-size: 16px;
    }
    .password{
        font-size: 16px;
    }
    label {   
        font-size: smaller;   
        margin-left: -6px;   
    }
    .buttonJoinus{
        width: 130px;
        height: 50px;
        font-size: 20px;
    }
    .buttonLogin{
        width: 100px;
        height: 45px;
        font-size: 20px;
    }
    .loginQuestion{
        font-size: medium;
        margin-bottom: 30px;

    }
    .errorMsg{
        font-size:small;
        margin:-5px;
    }
    .loginQuestion{
        width: 170px;
        height: 40px;
    
    }



}
